@model UserRegistrationDto
@{
    ViewData["Title"] = "რეგისტრაცია";
}
<h1>რეგისტრაცია</h1>
<div class="row">
    <form asp-controller="Account" asp-action="Register" method="post">
        <div class="mb-3">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="FirstName"></label>
            <input class="form-control" asp-for="FirstName" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="LastName"></label>
            <input class="form-control" asp-for="LastName" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Email"></label>
            <input class="form-control" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Password"></label>
            <input class="form-control" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="ConfirmPassword"></label>
            <input class="form-control" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="რეგისტრაცია" />
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



